
%h1 All Pages

%table
  %thead
    %th Page FB ID
    %th Full Name
    %th E-mail
    %th Company
    %th Phone Number
    %th Fan Gate
    %th
  %tbody
    - @pages.each do |page|
      %tr{:class => page_css_class(page)}
        %td= page.page_id
        %td= page.full_name
        %td= page.email
        %td= page.company
        %td= page.phone_number
        %td= page.fan_gate
        %td.options
          = link_to "Params", edit_admin_page_path(page), :class => "button"
          = link_to "Preview", admin_page_path(page), :class => "button"
          = link_to (page.page_blocked? ? "Unblock" : "Block"), toggle_block_admin_page_path(page), :class => "button"

