!!!
%html
  %head
    %title FaceDeals
    = stylesheet_link_tag    "admin"
    = stylesheet_link_tag    "jquery-ui/jquery-ui-1.8.17.css"
    = javascript_include_tag "jquery-1.7.1.js"
    = javascript_include_tag "jquery-ui-1.8.17.js"
    = javascript_include_tag "admin"
    = csrf_meta_tags
    = yield :head
    :javascript
      load_jquery_ui(); // JQuery UI
  %body
    = render :partial => "layouts/flash", :locals => {:flash => flash}
    = render :partial => "layouts/admin/login_info"
    = render :partial => "layouts/admin/menu"
    #container
      = yield :back_button
      = yield



