!!!
%html
  %head
    %title FaceDeals
    = stylesheet_link_tag    "info"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    :javascript
      load_jquery_ui(); // JQuery UI
  %body
    = yield




