!!!
%html
  %head
    %title FaceDeals
    = stylesheet_link_tag    "social-app-base/install.css"
    = stylesheet_link_tag    "social-app-base/jquery-ui/jquery-ui-1.8.17.css"
    = javascript_include_tag "social-app-base/jquery-1.7.1.js"
    = javascript_include_tag "social-app-base/jquery-ui-1.8.17.js"
    = javascript_include_tag "social-app-base/application.js"
    = csrf_meta_tags
    = yield :head
    :javascript
      load_jquery_ui(); // JQuery UI
  %body
    = yield




